.container {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.side {
    margin: 10px;
    width: 25%;
}

.main {
    margin: 10px;
    width: 65%;
}

.main img {
    max-width: 100%;
}

.side_details {
    display: flex;
    justify-content: space-between;
}

.side_details h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.details {
    display: flex;
    justify-content: space-between;
}

.investment__details {
    max-width: 40%;
}

.details div img {
    width: 10%;
    height: 50%;
    margin-top: 10px;
}

.details div {
    display: flex;
    justify-content: end;
}


.price {
    display: flex;
    justify-content: flex-start;
}

.price img {
    width: 10%;
    height: 50%;
    margin-top: 10px;
}

.invest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.invest__form {
    margin-left: 20px;
    max-width: 40%;
}


.invest__form form p {
    color: red;
}

.invest__form form {
    display: flex;
    flex-direction: column;
}

.invest__form form input {
    width: 30%;
}

.invest__form form label {
    color: black;
    margin-bottom: 10px;
}

.invest__form form button {
    margin-top: 10px;
}



.invest__form h2 {
    margin-top: 0%;
}

.total {
    width: 100%;
}

.error h2 {
    color: red;
}

.error {
    max-width: 40%;
    margin-left: 20px;
}

.approve {
    max-width: 45%;
    margin-left: 20px;
}

.approve button {
    width: fit-content;
}

.approve h2 {
    width: 100%;
    min-width: 100%;
}

.warning-container {
    display: flex;
    align-items: center;
    background-color: #ffeeba;
    padding: 10px;
    border: 1px solid #ffc107;
    border-radius: 4px;
}

.warning-icon {
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning-message {
    margin-left: 10px;
    color: #856404;
    font-size: 16px;
    font-weight: bold;
}