@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #b3e0dc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #edf9ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: #FFFFFF;
    --clr-black: #202020;
    --clr-grey: #707070;
    --clr-blue: #6C63FF;
    --clr-blue-2: #4c46b6;
    --clr-green: #4fb646;
}